{% extends "OCUserBundle::layout.html.twig" %}


{% block content %}
    <h1>Cv edit</h1>

    {{ form_start(form, {'attr':{'novalidate' : 'novalidate'}}) }}

        <div class="form-group">
            {# title #}
            {{ form_label(form.title, 'Titre du CV') }}     {# libelle #}
            {{ form_widget (form.title, { 'attr': { 'class':'form-control', 'placeholder' : '' }} ) }}       {# input #}
            {{ form_errors (form.title) }}       {# Affiche les erreurs #}
        </div>

        <div class="form-group">
            {# career #}
            {{ form_label(form.career, 'Parcours professionnel') }}     {# libelle #}
            {{ form_widget (form.career, { 'attr': { 'class':'form-control', 'row':'10' }} ) }}       {# input #}
            {{ form_errors (form.career) }}       {# Affiche les erreurs #}
        </div>

        <div class="form-group">
            {# poste #}
            {{ form_label(form.poste, 'Poste recherché') }}     {# libelle #}
            {{ form_widget (form.poste, { 'attr': { 'class':'form-control' }} ) }}       {# input #}
            {{ form_errors (form.poste) }}       {# Affiche les erreurs #}
        </div>

        <div class="radio-in-line">
            {# contrat #}
            {{ form_label(form.contrat, 'Type de contrat') }}     {# libelle #}
            {{ form_widget (form.contrat, { 'attr': { 'type':'radio' }} ) }}       {# input #}
            {{ form_errors (form.contrat) }}       {# Affiche les erreurs #}
        </div>

        <div class="form-group">
            {# location #}
            {{ form_label(form.location, 'Lieu') }}     {# libelle #}
            {{ form_widget (form.location, { 'attr': { 'class':'form-control' }} ) }}       {# input #}
            {{ form_errors (form.location) }}       {# Affiche les erreurs #}
        </div>

        <div class="form-group">
            {# degree #}
            {{ form_label(form.degree, 'Diplôme(s)') }}     {# libelle #}
            {{ form_widget (form.degree, { 'attr': { 'class':'form-control' }} ) }}       {# input #}
            {{ form_errors (form.degree) }}       {# Affiche les erreurs #}
        </div>

        <div class="radio-in-line">
            {# postShow #}
            {{ form_label(form.postShow, 'Publier le CV') }}     {# libelle #}
            {{ form_widget (form.postShow, { 'attr': { 'type':'radio' , 'class':'choix'}} ) }}       {# input #}
            {{ form_errors (form.postShow) }}       {# Affiche les erreurs #}
        </div>

        <div class="form-group">
            {{ form_widget(form.submit, { 'attr': {'class':'btn btn-warning'}}) }}
        </div>

    {{ form_end(form) }}

    <div class="clearfix"></div>

    <hr>
    <p>
        <a href="{{ path('oc_platform_advert_index') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('oc_user_user_show', {id: app.user.id}) }}" class="btn btn-default">
                Mon profil
            </a>
        {% endif %}
    </p>

{% endblock %}