
{% for cv in my_all_cv %}
    <div class="row">
        <div class="description col-sm-6">
            <p>
                <span class="title">Titre : </span> <a href="{{ path('oc_user_cv_show', {number: cv.id}) }}">{{ cv.title }}</a>
            </p>
            <p>
                <span class="title">Afficher : </span> {{ cv.postShow }}
            </p>
        </div>
        <div class="cv-action col-sm-6">
            <a href="{{ path('oc_user_cv_edit', { 'id': cv.id }) }}" class="btn btn-warning">edit</a>
            {% if cv.postShow == 'Private' %}
                <a href="{{ path('oc_user_cv_public', { 'id': cv.id }) }}" class="btn btn-hero">Publier</a>
            {% else %}
                <a href="{{ path('oc_user_cv_private', { 'id': cv.id }) }}" class="btn btn-dangers">Ne pas publier</a>
            {% endif %}
        </div>
    </div>
    {% if not loop.last %}
        <hr>
    {% endif %}
{% endfor %}
