{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "OCUserBundle::layout.html.twig" %}

{% block title %}
  Ajouter une annonce - {{ parent() }}
{% endblock %}


{% block content %}

    {% for message in app.session.flashbag.get("info") %}
        
        <div class="alert alert-success">
            {{ message }}
        </div>

    {% endfor %}
    <br><br><br>

    <div class="col-md-9">

        <div class=""><p><span class="title">Titre : </span></br> {{ myCv.title }} </p></div>
        <div class=""><p><span class="title">Mon parcours professionnel : </span></br>{% if myCv.title is defined %} {{ myCv.career }} {% endif %}</p></div>
        <div class=""><p><span class="title">Poste recherché : </span> </br>{% if myCv.poste is defined %} {{ myCv.poste }}{% endif %}</p></div>
        <div class=""><p><span class="title">Région ciblée : </span></br>{% if myCv.location is defined %} {{ myCv.location }}{% endif %}</p></div>
        <div class=""><p><span class="title">Type de contrat : </span></br>{% if myCv.contrat is defined %} {{ myCv.contrat }}{% endif %}</p></div>
        <div class=""><p><span class="title">Diplôme(s) : </span></br>{% if myCv.degree is defined %} {{ myCv.degree }}{% endif %}</p></div>
        <div class=""><p><span class="title">Afficher : </span></br>
            
                {{ myCv.postShow }}
            </p>
        </div>

    </div>
    <div class="clearfix"></div>  

    <hr>
    <p>
        <a href="{{ path('oc_platform_advert_index') }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Retour à la liste
        </a>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('oc_user_user_show', {id: app.user.id}) }}" class="btn btn-default">
                Mon profil
            </a>
        {% endif %}
    </p>






{% endblock %}
