<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Tevi SAY - Error Occurred: {{ status_text }}</title>
    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link href='{{ asset("css/bootstrap.css") }}' rel="stylesheet"/>
        <!-- Custom CSS -->
        <link href='{{ asset("css/error.css") }}' rel="stylesheet"/>
    {% endblock %}
  </head>
  <body>
      <div class="container">
        <div class="col-md-8">
            <h1>Oops! An Error Occurred</h1>
            <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>              
        </div>
          <div class="col-md-4">
              <h1>Site en maintenance</h1>
             <p>Désolé, nous ne pouvons donner suite a votre demande pouer le moment. Nous nous efforçons de solutionner le probleme.</p>
              
          </div>
      </div>
  </body>
</html>
