{% extends "OCUserBundle::layout.html.twig" %}

{% block content %}
    <h1>Address edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <hr>
        <input type="submit" value="Editer" class="btn btn-warning pull-right" />
    {{ form_end(edit_form) }}
    <div class="clearfix"></div>
    <hr>
    <p>
       <a href="{{ path('oc_platform_advert_index') }}" class="btn btn-default">
           <i class="glyphicon glyphicon-chevron-left"></i>
           Retour à la liste
       </a>
       {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
           <a href="{{ path('oc_user_user_show', {id: app.user.id}) }}" class="btn btn-default">
               Mon profil
           </a>
           {{ form(delete_form) }}
       {% endif %}
    </p>
{% endblock %}
