{% extends 'OCUserBundle::layout.html.twig' %}

{% block body -%}
    <h1>Address list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Street</th>
                <th>City</th>
                <th>Cp</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('address_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.street }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.cp }}</td>
                <td>{{ entity.country }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('address_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('address_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <a href="{{ path('address_delete', {id: entity.id}) }}" class="btn btn-dangers">Supprimer</a>
                </ul>
                </td>
            </tr>


        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('address_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('oc_user_user_show', {id: app.user.id}) }}" class="btn btn-default">
            Mon profil
        </a>
    {% endif %}
    {% endblock %}
