{% extends "OCUserBundle::layout.html.twig" %}

{% block content %}
    <h1>Address creation</h1>

	<div class="row">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<hr>
		<input type="submit" value="Ajouter" class="btn btn-primary pull-right" />
		{{ form_end(form) }}
	</div>

	<hr>
	<p>
		<a href="{{ path('oc_platform_advert_index') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour à la liste
		</a>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<a href="{{ path('oc_user_user_show', {id: app.user.id}) }}" class="btn btn-default">
				Mon profil
			</a>
		{% endif %}
	</p>
{% endblock %}
