{% extends "::base.html.twig" %}

{% block title %}Job +{% endblock %}
{% block stylesheets %}
{# On charge le CSS de bootstrap depuis le site directement #}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="{{ asset('css/style.css') }}" rel="stylesheet">
<link href="{{ asset('css/profil_sidebar.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}


  {% block navbar %}
    {% include ':_components:navigation.html.twig' %}
  {% endblock navbar %}

    <div class="container l-content">
        {% block content %}{% endblock %}
    </div>
    <hr>

    <footer>
        <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>


  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock javascripts %}
{% endblock body %}