{% extends "::base.html.twig" %}

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
  {% endblock %}




{% block body %}

  <div class="identity col-xs-12">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      <div class="text-center">
        Bienvenue {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-2x"></i></a>
      </div>
    {% endif %}
  </div>

  <div class="row enter-actions">
    <div class="col-sm-6 clt">
      <ul>
        <li><a href="{{ path('oc_platform_actualites_index') }}" class="btn btn-hero btn-lg">Actualités</a></li>
        <li><a href="{{ path('oc_user_cv_add') }}" class="btn btn-white btn-lg">J'ajoute mon CV</a></li>
      </ul>
    </div>
    <div class="col-sm-6 signin">
      <ul>
        <li>
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('oc_user_user_show', {id: app.user.id}) }}" class="btn btn-hero btn-lg">Mon compte</a>
          {% else %}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-white btn-lg">Connexion</a>
          {% endif %}
        </li>
        <li class="clt-stats">
          <div class="col-xs-6">
            <p>Candidats</p>
            <p>14 236</p>
          </div>
          <div class="col-xs-6">
            <p>Recruteurs</p>
            <p>3 273</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- ***************************************** -->
  <!-- *************** Carousel **************** -->
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    {#
    #}<!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
      <li data-target="#bs-carousel" data-slide-to="3"></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
          <hgroup>
              <h1>JOB +</h1>        
              <h3>Ma plateforme d'annonces d'emplois</h3>
          </hgroup>
          <a href="{{ path('oc_platform_advert_index') }}" class="btn btn-hero btn-lg" role="button">Voir les offres</a>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">        
          <hgroup>
              <h1>JOB +</h1>        
              <h3>Projet propulsé par Symfony2</h3>
          </hgroup>       
          <a href="{{ path('oc_platform_advert_index') }}" class="btn btn-hero btn-lg" role="button">Voir les offres</a>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">        
          <hgroup>
              <h1>JOB +</h1>
          </hgroup>
          <a href="{{ path('oc_platform_advert_index') }}" class="btn btn-hero btn-lg" role="button">Voir les offres</a>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-4"></div>
        <div class="hero">        
          <hgroup>
              <h1>JOB +</h1>        
              <h3>we are creative</h3>
          </hgroup>
          <a href="{{ path('oc_platform_advert_index') }}" class="btn btn-hero btn-lg" role="button">Voir les offres</a>
        </div>
      </div>
    </div>
  </div><!--/ END Carousel -->

  <!--FORM RECHERCHE -->
    {{ render(controller('OCPlatformBundle:Advert:rechercheEx')) }}
  <!-- /END FORM RECHERCHE -->


  <div class="row panel-kt">
    {{ render(controller('OCPlatformBundle:Category:index')) }}
  </div>

  {#
 <hr>

  <footer>
    <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
  </footer>
  #}


  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

{% endblock body %}
