{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}




{% block ocplatform_body %}

  {% block fil_ariane %}
    <ol class="breadcrumb record_actions">
      <li class="active"><em>Liste des annonces</em></li>
    </ol>
  {% endblock fil_ariane %}

  <h2>Liste des annonces</h2>

  <ul>
    {% for advert in listAdverts %}
      <li>
        <p>
          <a href="{{ path('oc_platform_advert_view', {'id': advert.id}) }}">
            {{ advert.title }}
          </a>
        </p>
        <p>
          chez {{ advert.author }},
          le {{ advert.date|date('d/m/Y') }} <br>
          {{ render(controller( 'OCPlatformBundle:AdvertSkill:index', {id: advert.id} )) }}
        </p>

      </li>
      <hr>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>

  <ul class="pagination">
    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('oc_platform_advert_index', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}