{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une annonce - {{ parent() }}
{% endblock %}


{% block ocplatform_body %}

    {% block fil_ariane %}
        <ol class="breadcrumb record_actions">
            <li class="active"><a href="{{ path('oc_platform_advert_index') }}">Liste des annonces</a></li>
            <li class="active"><em>{{ advert.title }}</em></li>
        </ol>
    {% endblock fil_ariane %}

    {% for message in app.session.flashbag.get("notice") %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


    <div class="row">
        {% if advert.image is not null %}
            <div class="col-md-12 advert-img" style="background: url({{ asset(advert.image.webPath) }});padding-bottom: 20em;padding-bottom: 20em;background-size: cover;background-repeat: no-repeat;"></div>
        {% else %}
            <div class="col-md-12 advert-img" style="background: url({{ asset('../img/default-advert.jpg') }});padding-bottom: 20em;padding-bottom: 20em;background-size: cover;background-repeat: no-repeat;"></div>
        {% endif %}
    </div>
    <div class="advert-header clearfix">
        <h2>{{ advert.title|capitalize }}</h2>
        <i>Chez {{ advert.author|title }}, le {{ advert.date|date('d/m/Y') }}</i>
        <a href="{{ path('oc_platform_application_add', {id: advert.id}) }}" class="btn btn-success btn-lg pull-right ">Postuler</a>
        <!-- Large modal -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <h2>{{ advert.title|capitalize }}</h2>


                    {#{% include 'OCPlatformBundle:Application:new.html.twig' %}#}
                    {{ render(controller( 'OCPlatformBundle:Application:form', {id: advert.id} )) }}
                </div>
            </div>
        </div>
    </div>

    <div class="well" style="margin-top:50px;">
        <P>{{ advert.content }}</P>

        <P><i class="fa fa-map-marker" aria-hidden="true"></i> : {{ advert.address ? advert.address.city : '' }}</P>
        <p><i class="fa fa-tags" aria-hidden="true"></i> : {{ advert.tags }}</p>
    </div>

    <p>
    {% if not advert.categories.empty %}
        <p>
            Cette annonce est parue dans les catégories suivantes :
            {% for category in advert.categories %}
                {{ category.name }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    </p>

    <p>
        <a href="javascript:history.back()" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('oc_platform_advert_edit', {'id': advert.id}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i>
                Modifier l'annonce
            </a>
            <a href="{{ path('oc_platform_advert_delete', {'id': advert.id}) }}" class="btn btn-dangers">
                <i class="glyphicon glyphicon-trash"></i>
                Supprimer l'annonce
            </a>
        {% endif %}
    </p>

    {% if is_granted("ROLE_ADMIN") %}
        <hr>
        <h2>Candidats</h2>
        {% for application in listApplications %}
            <p>
                {{ application.author|title }} - {{ application.date|date('d/m/Y') }}<br>
                {{ application.content|title }}
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}


