.user-details {position: relative; padding: 0; margin-top: 50px}
.user-details .user-image {position: relative;  z-index: 1; width: 100%; text-align: center;}
 .user-image img { clear: both; margin: auto; position: relative;z-index: -100;}

.user-details .user-info-block {width: 100%; top: 55px; z-index: 0; padding-top: 35px;    background: #7f2f2f;
 color: #fff;
 padding-top: 0px;
 padding-bottom: 0px;
 margin-bottom: 10px;}
 .user-info-block .user-heading {width: 100%; text-align: center; margin: 10px 0 0;padding: 10px 0;}
 .user-info-block .navigation {float: left; width: 100%; margin: 0; padding: 0; list-style: none;border-top: 1px solid #fff;
  z-index: 100;}
  .navigation li {float: left; margin: 0; padding: 0;}
   .navigation li a {padding: 20px 20px; float: left;}
   .navigation li.active a {background: #7f2f2f; color: #fff;}
 .user-info-block .user-body {float: left; padding: 5%; width: 90%;}
  .user-body .tab-content > div {float: left; width: 100%;}
  .user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}
