body{
    background: #eee;
}
hr{
    border-top: 1px solid #fff;
}
.form-control{
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
img{
    max-width:100%;
}
.l-content{
    padding: 50px 0;
    margin-bottom: 50px;
}
li{
    list-style-type: none;
}
footer{
    padding: 20px;
}
.panel_advert{
    padding-left: 30px;
    padding-right: 30px;
}
.panel_sidebar{
    padding-top: 30px;
    background: #fff;
    border-radius: 7px;
}
.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-brand{
    font-size: 2em;
}
.breadcrumb{
    margin-bottom: 60px;
}
#oc_userbundle_cv_postShow label,
#oc_userbundle_cv_contrat label{
    margin-right:50px;
}
#oc_userbundle_cv_postShow label:hover,
#oc_userbundle_cv_contrat label:hover{
    cursor: pointer;
}


.padleft0{
    padding-left: 0;
}
img.admin-preview {
    max-height: 200px;
    max-width: 200px;
}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


/********************************/
/*       Accueil       */
/********************************/
.enter-actions{
    z-index: 100;
    position: absolute;
    width: 100%;
    top: 11em;
    /*background-color: #000;*/
}
.enter-actions .signin,
.enter-actions .clt{
    text-align: center;
}
.enter-actions li{
    margin-bottom: 50px;
}
.enter-actions li:last-child{
    margin-bottom: 0;
}

.enter-actions a{
    width: 13em;
}
.clt-stats {
    width: 20em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    background: url(../img/avatar/users.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 60px;
    color: #fff;
    background-color: rgba(0,255,255,0.1);
    padding-top: 10px;
}
.identity{
	position: absolute;
    z-index: 10;
    top: 10px;
    font-size: 1.5em;
    padding: 10px 50px;
    color: #ccc;
}
.identity a{
    color: #ccc;
    letter-spacing: 1px;
    text-decoration: none;	
}

.advert-show{
  height: 110px;
}
.panel-kt{
    padding:50px 15px;
}
.kt-name{
    height:20em;
    padding:20px;
    text-align: center;

}
.kt-name h4{
    background-color: #fff;
    padding: 20px 0;
    background-size: cover;
    padding-bottom: 10em;
}

.kt-name :first-child h4{
    background: url('../img/category/developpement.jpg') no-repeat center;
}
.kt-name :nth-child(2) h4{
    background: url('../img/category/mobile.jpg') no-repeat center;
}
.kt-name :nth-child(3) h4{
    background: url('../img/category/graphiste.jpg') no-repeat center;
}
.kt-name :nth-child(4) h4{
    background: url('../img/category/design.jpg') no-repeat center;

}
.kt-name :nth-child(5) h4{
    background: url('../img/category/networks.jpg') no-repeat center;
}
/********************************/
/*       ADVERT VIEW            */
/********************************/
.advert-img{
    padding-bottom: 20em;
    background-size: cover;
    background-repeat: no-repeat;
}
.advert-header{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.panel_advert h2{
    BORDER-BOTTOM: 1px solid #eee;
}
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn{
    border-radius: 0;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.btn-white{
    background: #fff;
    color: #333;
    outline: none;
    text-decoration: none;
}
.btn-dangers{
    background: transparent;
    color: darkred;
    border-color: darkred;
    outline: none;
    text-decoration: none;
}
.btn-hero{
    background: transparent;
    color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    text-decoration: none;
}

.btn.btn-lg {padding: 10px 50px;}
.btn.btn-md {padding: 5px 50px;}
/*.btn.btn-hero,*/
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    /*outline: none;*/
    /*margin: 20px auto;*/
    text-decoration: none;
}
.btn.btn-hero a {
  color: #1abc9c;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.btn.btn-hero:hover a,
.btn.btn-hero:focus a{
    color: #f5f5f5;
  text-decoration: none;
}

.btn-white:hover,
.btn-white:focus{
    color: #f5f5f5;
    background-color: transparent;
    border-color: #fff;
    text-decoration: none;
}
.btn-dangers:hover,
.btn-dangers:focus{
    color: #f5f5f5;
    background-color: darkred;
    text-decoration: none;
}

.slide .btn{
    margin: 20px auto;
}
.social-btn{
    text-align: center;
    padding-top: 50px;
}
.social-btn .btn{
    width: 12em;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.social-btn a:first-child{
    margin-bottom: 20px;
}
/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../img/1.jpeg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../img/2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../img/3.jpg);
}

.fade-carousel .slides .slide-4 {
  background-image: url(../img/4.jpg);
}
/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}





/********************************/
/*          RECHERCHE ACCUEIL   */
/********************************/
.recherche{
  position: absolute;
  z-index: 1000;
  top: auto;
  top: 70%;
  background-color: rgba(0,0,0,0.5);
  padding-top: 20px;  
  padding-bottom: 20px;  
  border-radius: 7px;
}
.recherche p{
  color: #fff;
  margin-bottom: 0px;
}

.recherche .col-sm-6:first-child{
      border-right: 1px dotted #ccc;
}
#custom-search-form-2 {
  position: relative;

}
#custom-search-form-2 .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
}

.recherche button {
    border: 0;
    color: #fff;
    background: none;
    /** belows styles are working good */
    padding: 5px;
    position: absolute;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 0.9s;
  -moz-transition: all ease-in-out 0.9s;
  -o-transition: all ease-in-out 0.9s;
  -ms-transition: all ease-in-out 0.9s;
  transition: all ease-in-out 0.9s;

}

.recherche button:hover{
  color: #1abc9c;
}


.search-query:focus + button {
    z-index: 3;   
}
.recherche input{
  width: 80%;
  height: 3em;
  background-color: transparent;
  border: none;
  
}

/********************************/
/*          RECHERCHE ADVERT    */
/********************************/

.search-advert{
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}
.navbar-form,
.search-advert .form-group{
  padding-left: 0px;
}
.search-advert input{
  width: 100% !important;
}

.title{
  font-weight: bold;
  border-bottom: 1px solid #000;
}


.identity a:hover{
  color: #1abc9c;
}
.identity ul li{
  list-style-type: none;
}



/********************************/
/*          ADDRESS             */
/********************************/
.page-title{
    margin-bottom: 3em;
    text-align: center;
}
.address-action{
    margin-left: 100px;
    opacity: 0;
    transition: 0.8s;
}
.address-detail:hover .address-action{
    opacity: 1;
}

.cv-detail .col-sm-6{
    padding:0;
}
.cv-box-number{
    font-size: 2em;
}
.cv-box-content{
    padding: 15px;
}
.title{
    margin-right: 50px;
}
.offres{
    background: #fff;
    height: 500px;
    padding: 10px;
    margin: 50px 0;
}

/********************************/
/*          POSTULAT            */
/********************************/
.p-advert, .p-candidat{
    margin: 50px 0;
    padding:0 25px;
}