{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

    
	<div class="row">
	    <h1>Creative User Profile <br><small>#User-Interface #User #Profile #jquery #Social #contact #accordion</small></h1>
			<!-- Contenedor -->
		<ul id="accordion" class="accordion">
		    <li>
				<div class="col col_4 iamgurdeep-pic">
					<img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://scontent.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/11986965_571879149619846_4942737019629149212_n.jpg?oh=280b3fd238a5308f8e5c7ea5ba33c48e&oe=56FB8357">
					<div class="edit-pic">
						<a href="https://web.facebook.com/iamgurdeeposahan" target="_blank" class="fa fa-facebook"></a>
						<a href="https://www.instagram.com/gurdeeposahan/" target="_blank" class="fa fa-instagram"></a>
						<a href="https://twitter.com/gurdeeposahan1" target="_blank" class="fa fa-twitter"></a>
						<a href="https://plus.google.com/u/0/105032594920038016998" target="_blank" class="fa fa-google"></a>
					</div>
					<div class="username">
		    			<h2>Gurdeep Osahan  <small><i class="fa fa-map-marker"></i> India (Punjab)</small></h2>
		    			<p><i class="fa fa-briefcase"></i> Web Design and Development.</p>
		    
		    			<a href="https://web.facebook.com/iamgurdeeposahan" target="_blank" class="btn-o"> <i class="fa fa-user-plus"></i> Add Friend </a>
		    			<a href="https://www.instagram.com/gurdeeposahan/" target="_blank"  class="btn-o"> <i class="fa fa-plus"></i> Follow </a>
		    
			     		<ul class="nav navbar-nav">
			        		<li class="dropdown">
				          		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-v pull-right"></span></a>
				          		<ul class="dropdown-menu pull-right">
				            		<li><a href="#">Video Call <i class="fa fa-video-camera"></i></a></li>
				            		<li><a href="#">Poke <i class="fa fa-hand-o-right"></i></a></li>
				            		<li><a href="#">Report <i class="fa fa-bug"></i></a></li>
				            		<li><a href="#">Block <i class="fa fa-lock"></i></a></li>
				          		</ul>
			        		</li>
			    		</ul>
		   
					</div>
		    
				</div>
	        
	    	</li>
			<li>
				<div class="link"><i class="fa fa-globe"></i>About<i class="fa fa-chevron-down"></i></div>
				<ul class="submenu">
					<li><a href="#"><i class="fa fa-calendar left-none"></i> Date of Birth : 03/09/1994</a></li>
					<li><a href="#">Address : INDIA,Punjab</a></li>
					<li><a href="mailto:gurdeepjawaddi94@gmail.com">Email : gurdeepjawaddi94@gmail.com</a></li>
					<li><a href="#">Phone : +91 85680-79956</a></li>
				</ul>
			</li>
			<li class="default open">
				<div class="link"><i class="fa fa-code"></i>Professional Skills<i class="fa fa-chevron-down"></i></div>
				<ul class="submenu">
					<li><a href="#"><span class="tags">Adobe Photoshop</span> <span class="tags">Corel Draw</span> <span class="tags">CSS</span> <span class="tags">Css 3</span> 
	                <span class="tags">Graphic Design</span> <span class="tags">HTML</span> <span class="tags">HTML5</span> <span class="tags">JavaScript</span> 
	                <span class="tags">Twitter bootstrap</span> <span class="tags">bootstrap</span> <span class="tags">User Interface Design</span> <span class="tags">Wordpress</span></li></a>
				</ul>
			</li>
			<li>
				<div class="link"><i class="fa fa-picture-o"></i>Photos <small>1,120</small><i class="fa fa-chevron-down"></i></div>
				<ul class="submenu">
					<li class="photosgurdeep"><a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://z-n.ak.fbcdn.net/sphotos-b.ak/hphotos-ak-xtp1/v/t1.0-9/10672068_611175545690206_6037235061660836500_n.jpg?oh=95d141c46858a48a31b0753ffa486aef&oe=57077635&__gda__=1464465923_f873c14b7338c1071034f7cf62e7ddb3">                 
					</a>
	                <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://z-n.ak.fbcdn.net/sphotos-b.ak/hphotos-ak-xtp1/v/t1.0-9/10672068_611175545690206_6037235061660836500_n.jpg?oh=95d141c46858a48a31b0753ffa486aef&oe=57077635&__gda__=1464465923_f873c14b7338c1071034f7cf62e7ddb3">                 
	    			</a>
	                <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://z-n.ak.fbcdn.net/sphotos-b.ak/hphotos-ak-xtp1/v/t1.0-9/10672068_611175545690206_6037235061660836500_n.jpg?oh=95d141c46858a48a31b0753ffa486aef&oe=57077635&__gda__=1464465923_f873c14b7338c1071034f7cf62e7ddb3">                 
	    			</a>
	                <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://z-n.ak.fbcdn.net/sphotos-b.ak/hphotos-ak-xtp1/v/t1.0-9/10672068_611175545690206_6037235061660836500_n.jpg?oh=95d141c46858a48a31b0753ffa486aef&oe=57077635&__gda__=1464465923_f873c14b7338c1071034f7cf62e7ddb3">                 
	    			</a>
	               
	                <a class="view-all" href="https://web.facebook.com/iamgurdeeposahan" target="_blank" >15+
	        		</a>
	    			    
					</li>
				</ul>
			</li>
			<li>
				<div class="link"><i class="fa fa-users"></i>Friends <small>1,053</small><i class="fa fa-chevron-down"></i></div>
				<ul class="submenu">
	    			<li class="photosgurdeep"><a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://z-n.ak.fbcdn.net/sphotos-b.ak/hphotos-ak-xtp1/v/t1.0-9/10672068_611175545690206_6037235061660836500_n.jpg?oh=95d141c46858a48a31b0753ffa486aef&oe=57077635&__gda__=1464465923_f873c14b7338c1071034f7cf62e7ddb3">                 
					</a>
	                <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://z-n.ak.fbcdn.net/sphotos-b.ak/hphotos-ak-xtp1/v/t1.0-9/10672068_611175545690206_6037235061660836500_n.jpg?oh=95d141c46858a48a31b0753ffa486aef&oe=57077635&__gda__=1464465923_f873c14b7338c1071034f7cf62e7ddb3">                 
	    			</a>
	                <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://z-n.ak.fbcdn.net/sphotos-b.ak/hphotos-ak-xtp1/v/t1.0-9/10672068_611175545690206_6037235061660836500_n.jpg?oh=95d141c46858a48a31b0753ffa486aef&oe=57077635&__gda__=1464465923_f873c14b7338c1071034f7cf62e7ddb3">                 
	    			</a>
	                <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://z-n.ak.fbcdn.net/sphotos-b.ak/hphotos-ak-xtp1/v/t1.0-9/10672068_611175545690206_6037235061660836500_n.jpg?oh=95d141c46858a48a31b0753ffa486aef&oe=57077635&__gda__=1464465923_f873c14b7338c1071034f7cf62e7ddb3">                 
	    			</a>
	                <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://z-n.ak.fbcdn.net/sphotos-b.ak/hphotos-ak-xtp1/v/t1.0-9/10672068_611175545690206_6037235061660836500_n.jpg?oh=95d141c46858a48a31b0753ffa486aef&oe=57077635&__gda__=1464465923_f873c14b7338c1071034f7cf62e7ddb3">                 
	        		</a>
	                <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://z-n.ak.fbcdn.net/sphotos-b.ak/hphotos-ak-xtp1/v/t1.0-9/10672068_611175545690206_6037235061660836500_n.jpg?oh=95d141c46858a48a31b0753ffa486aef&oe=57077635&__gda__=1464465923_f873c14b7338c1071034f7cf62e7ddb3">                 
	    			</a>
	                <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://z-n.ak.fbcdn.net/sphotos-b.ak/hphotos-ak-xtp1/v/t1.0-9/10672068_611175545690206_6037235061660836500_n.jpg?oh=95d141c46858a48a31b0753ffa486aef&oe=57077635&__gda__=1464465923_f873c14b7338c1071034f7cf62e7ddb3">                 
	    			</a>
	                <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://z-n.ak.fbcdn.net/sphotos-b.ak/hphotos-ak-xtp1/v/t1.0-9/10672068_611175545690206_6037235061660836500_n.jpg?oh=95d141c46858a48a31b0753ffa486aef&oe=57077635&__gda__=1464465923_f873c14b7338c1071034f7cf62e7ddb3">                 
	        		</a>
	                <a href="#"><img class="img-responsive iamgurdeeposahan" alt="iamgurdeeposahan" src="https://z-n.ak.fbcdn.net/sphotos-b.ak/hphotos-ak-xtp1/v/t1.0-9/10672068_611175545690206_6037235061660836500_n.jpg?oh=95d141c46858a48a31b0753ffa486aef&oe=57077635&__gda__=1464465923_f873c14b7338c1071034f7cf62e7ddb3">                 
	    			</a>
	               
	                <a class="view-all" href="https://web.facebook.com/iamgurdeeposahan" target="_blank">50+
	        		</a>
	    			    
					</li>
				</ul>
			</li>
		</ul>
	</div>    
</div>
