{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{{ asset('css/profil_view.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block fos_user_content %}
	{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}


