<form id="form_recherche" class="form-group col-xs-12" action="{{ path( 'oc_platform_recherche_advert' ) }}" method="post">
    <div class="input-append">

	    {# recherche #}
        <div class="col-sm-5">
	        <div class="hidden">
	        	{{ form_label(form.recherche) }}     {# libelle #}
	        </div>
	        {{ form_widget (form.recherche, { 'attr': { 'class':'form-control'}} ) }}       {# input #}
	        {{ form_errors (form.recherche) }}       {# Affiche les erreurs #}
        </div>

        {# research #}
        <div class="col-sm-5">
	        <div class="hidden">
	        	{{ form_label(form.research, '') }}     {# libelle #}
	        </div>
	        {{ form_widget (form.research, { 'attr': { 'class':'form-control'}} ) }}       {# input #}
	        {{ form_errors (form.research) }}       {# Affiche les erreurs #}
        </div>

        <div class="col-sm-2">
            {{ form_widget(form.submit) }}
        </div>

    </div>
</form>
<div class="loading"></div>
