


<div class="col-sm-8 col-sm-offset-2 col-xs-12 recherche">
      <form id="form_recherche" class="col-xs-12" action="{{ path( 'oc_platform_recherche_advert' ) }}" method="post">
        <div class="col-sm-6">
          <div class="input-append">
            {# recherche #}
            <p class="">
              {{ form_label(form.recherche, 'Métier') }}     {# libelle #}
            </p>
            <div class="input-append">
              {{ form_widget (form.recherche, { 'attr': { 'class':'form-control'}} ) }}       {# input #}
              {{ form_errors (form.recherche) }}       {# Affiche les erreurs #}
            </div>
          </div>   
        </div>
        <div id="custom-search-form-2" class="col-sm-5">
            {# research #}
            <div class="input-append">
              <p class="">
                {{ form_label(form.research, 'Lieu') }}     {# libelle #}
              </p>
                {{ form_widget (form.research, { 'attr': { 'class':'form-control' , 'placeholder' : 'ex : Paris, Nantes...'}} ) }}       {# input #}
                {{ form_errors (form.research) }}       {# Affiche les erreurs #}
              </div>
        </div>
        <div class="col-sm-1">
          <button type="submit" class="btn"><i class="fa fa-search fa-3x"></i></button>
        </div>
      </form>
</div>
