{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  Annonces - {{ parent() }}
{% endblock %}



{% block content %}

    {#<div class="row">#}
    {#{% block fil_ariane %}{% endblock fil_ariane %}#}
    {#</div>#}

	<section class="row infos ">
	    {{ render(controller('OCPlatformBundle:Advert:recherche')) }}
	</section>

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}

  <hr>

    <div class="row">
        <div class="col-sm-3 panel_sidebar">
            {% include 'OCPlatformBundle:Sidebar:sidebar.html.twig' %}
        </div>
        <div class="col-sm-9 panel_advert">
            {% block ocplatform_body %}
            {% endblock %}
        </div>
    </div>


{% endblock content %}