{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Postulat - {{ parent() }}
{% endblock %}




{% block content %}

    <div class="row p-advert">
        {% if advert.image is not null %}
            <div class="col-sm-6 advert-img" style="background: url({{ asset(advert.image.webPath) }});padding-bottom: 20em;padding-bottom: 20em;background-size: cover;background-repeat: no-repeat;"></div>
        {% else %}
            <div class="col-sm-6 advert-img" style="background: url({{ asset('../img/default-advert.jpg') }});padding-bottom: 20em;padding-bottom: 20em;background-size: cover;background-repeat: no-repeat;"></div>
        {% endif %}
        <div class="col-sm-6">
            <h1>{{ advert.title }}</h1>
            <h2>{{ advert.author }}</h2>
            <h4>{{ advert.address.city }} {{ advert.address.country }}</h4>
        </div>

    </div>
    <div class="row p-candidat">

            {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
                {#<p>Username: {{ app.user.username }}</p>#}
            {#{% endif %}#}
            {#{% if app.user %}#}
                {#<p><span class="title">Username</span> <span class="content">{{ app.user.username }}</span></p>#}
                {#<p><span class="title">Email</span> <span class="content">{{ app.user.email }}</span></p>#}

                {#<div class="app-cv">#}
                    {#<h3>Je selectionne mon cv</h3>#}
                    {#{% for cv in app.user.cvs %}#}
                    {#<div class="description">#}
                        {#<div class="radio">#}
                            {#<label>#}
                                {#<input type="radio" name="cv_author" value="{{ cv.id }}">#}
                                {#Joindre ce cv à l'offre#}
                            {#</label>#}
                        {#</div>#}
                        {#<p>#}
                            {#<span class="title">Titre : </span> <a href="{{ path('oc_user_cv_show', {number: cv.id}) }}">{{ cv.title }}</a>#}
                        {#</p>#}
                        {#<p>#}
                            {#<span class="title">Poste : </span> <a href="{{ path('oc_user_cv_show', {number: cv.id}) }}">{{ cv.poste }}</a>#}
                        {#</p>#}
                        {#<p>#}
                            {#<span class="title">Afficher : </span> {{ cv.postShow }}#}
                            {#<a href="{{ path('oc_user_cv_edit', { 'id': cv.id }) }}" class="btn btn-warning">edit</a>#}
                            {#{% if cv.postShow == 'Private' %}#}
                                {#<a href="{{ path('oc_user_cv_public', { 'id': cv.id }) }}" class="btn btn-hero">Publier</a>#}
                            {#{% else %}#}
                                {#<a href="{{ path('oc_user_cv_private', { 'id': cv.id }) }}" class="btn btn-dangers">Ne pas publier</a>#}
                            {#{% endif %}#}
                        {#</p>#}
                        {#<hr>#}
                    {#</div>#}
                    {#{% endfor %}#}
                {#</div>#}
            {#{% endif %}#}




            {{ form(form) }}


    </div>

{% endblock content %}
