
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class=" user-details">
            <div class="user-image">
                {% if app.user.image %}
                    <img src="{{ asset(app.user.image.webPath) }}" alt="{{ app.user.username }} - avatar" title="{{ app.user.username }}" class="img-circle">
                {% else %}
                    <img src="{{ asset('img/avatar/avatar.jpg') }}" alt="default - avatar" title="{{ app.user.username }}" class="img-circle">
                {% endif %}
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h3>{{ app.user.username }}</h3>
                    <span class="help-block">Chandigarh, IN</span>
                </div>
                <ul class="navigation">
                    <li class="active">
                        <a data-toggle="tab" href="#information">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#settings">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#email">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#events">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </a>
                    </li>
                </ul>
                <div class="user-body">
                    <div class="tab-content">
                        <div id="information" class="tab-pane active">
                            <h4>
                                <a href="{{ path('oc_user_user_cv') }}">
                                    Mes CV
                                </a>
                            </h4>
                        </div>
                        <div id="settings" class="tab-pane">
                            <h4>
                                <a href="{{ path('oc_user_user_show', {id: app.user.id}) }}">
                                    Mon compte
                                </a>
                            </h4>
                            <h4>
                                <a href="{{ path('oc_user_user_edit', {id : app.user.id }) }}">
                                    Editer mon compte
                                </a>
                            </h4>
                            <h4>
                                <a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
                            </h4>
                        </div>
                        <div id="email" class="tab-pane">
                            <h4>Message</h4>
                        </div>
                        <div id="events" class="tab-pane">
                            <h4>Mes évennements (0)</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h3>Les annonces</h3>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('oc_platform_homepage') }}">Accueil</a></li>
            {# On n'affiche le lien « Ajouter une annonce » qu'aux auteurs
              (et admins, qui héritent du rôle auteur) #}
            {% if is_granted('ROLE_AUTEUR') %}
                <li><a href="{{ path('oc_platform_add') }}">Ajouter une annonce</a></li>
            {% endif %}
        </ul>

        <h4>Dernières annonces</h4>
        {{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}
    {% endif %}
