{% extends "OCUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row">
        <div class="col-sm-6">
            <p><a href="{{ path('fos_user_registration_register') }}">Pas de compte ? creez votre compte maintenant</a></p>

            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-inline">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group col-md-6">
                    <label for="username">{{ 'security.login.username'|trans }} / Mail</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required="required" class="form-control"/>
                </div>

                <div class="form-group col-md-6">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
                <div class="form-group col-md-12">
                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-hero btn-lg"/>
                </div>
            </form>
        </div>
        <div class="col-sm-6 social-btn">
            <a href="" class="btn btn-hero btn-lg">GOOGLE</a>
            <a href="" class="btn btn-hero btn-lg">FACEBOOK</a>
        </div>
    </div>

    {#
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    #}
    {#<div class="col-sm-6 col-sm-offset-3">#}
        {#{{ render(controller('FOSUserBundle:Registration:register')) }}#}
    {#</div>#}
{% endblock fos_user_content %}
