{% extends "OCUserBundle::layout.html.twig" %}
{% block fos_user_content %}

    <div class="container text-center">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
