{% trans_default_domain 'FOSUserBundle' %}
{#<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">#}
    {#       #}
        {#<div class="form-group ">#}
            {#<label for="fos_user_registration_form_email">{{ 'email'|trans }}</label>#}
            {#<input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" value="" required="required" class="form-control"/>#}
        {#</div>#}
        {#<div class="form-group ">#}
            {#<label for="fos_user_registration_form_username">{{ 'username'|trans }}</label>#}
            {#<input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" value="" required="required" class="form-control"/>#}
        {#</div>#}
        {#<div class="form-group ">#}
            {#<label for="fos_user_registration_form_plainPassword_first">{{ 'security.login.password'|trans }}</label>#}
            {#<input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][second]" required="required" class="form-control"/>#}
        {#</div>#}
        {#<div class="form-group ">#}
            {#<label for="fos_user_registration_form_plainPassword_second">{{ 'Vérification'|trans }}</label>#}
            {#<input type="password" id="fos_user_registration_form_plainPassword_second" name="_password" required="required" class="form-control"/>#}
        {#</div>#}

        {#<div class="form-group">   #}
            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
            {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}
        {#</div>#}
        {#<div class="form-group col-md-12">#}
            {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary"/>#}
        {#</div>#}
    {#</form>#}
    {##}

    {#{{ form_widget(form) }}#}
    {#<div>#}
        {#<input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary"/>#}
    {#</div>#}
{#</form>#}


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<h3 class="text-uppercase">S'inscrire</h3>
{% for flashMessage in app.session.flashbag.get('register_error') %}

    <p>{{ flashMessage }}</p>

{% endfor %}

<div class="login-form" style="height: auto;">
    <div class="form-group ">
        <label for="fos_user_registration_form_email">Mail</label>
        {{ form_widget(form.email, { attr: {class:"form-control"} } ) }}
    </div>
    <div class="form-group ">
        <label for="fos_user_registration_form_username">Pseudonyme</label>
        {{ form_widget(form.username, { attr: {class:"form-control"} } ) }}
        {#<small>8-16 caractères alpha-numeriques sans espaces</small>#}

    </div>
    <div class="form-group ">
        <label for="fos_user_registration_form_plainPassword_first">{{ 'security.login.password'|trans }}</label>
        {{ form_widget(form.plainPassword.first, { attr: {class:"form-control"} } ) }}
    </div>
    <div class="form-group ">
        <label for="fos_user_registration_form_plainPassword_second">{{ 'Vérification du mot de passe'|trans }}</label>
        {{ form_widget(form.plainPassword.second, { attr: {class:"form-control"} } ) }}
    </div>
</div>
<div class="text-center text-uppercase">
    <input type="submit" id="_submit" name="_submit" value="inscription" class="btn primary"/>
</div>
{{ form_end(form) }}

