{% extends "OCUserBundle::layout.html.twig" %}


{% block content %}
    <h1>User edit</h1>
    <div class="row">
        <div class="col-sm-6">
            {{ form(edit_form) }}

                <li>{{ form(delete_form) }}</li>


        </div>
        <div class="col-sm-6">
            {% if app.user.image %}
                <img src="{{ asset(entity.image.webPath) }}" alt="{{ app.user.username }} - avatar" title="{{ app.user.username }}" >
            {% else %}
                <img src="{{ asset('img/avatar/avatar.jpg') }}" alt="default - avatar" title="{{ app.user.username }}" >
            {% endif %}
        </div>
    </div>

    <div class="row">
        <a href="{{ path('oc_user_user_show', {id: app.user.id}) }}" class="btn btn-hero btn-lg">Retour mon compte</a>
    </div>


{% endblock %}
