{% extends 'OCUserBundle::layout.html.twig' %}

{% block body -%}

    {% for message in app.session.flashbag.get("info") %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('oc_user_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('oc_user_user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('oc_user_user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('oc_user_user_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
