{% extends "OCUserBundle::layout.html.twig" %}

{% block content -%}
    <h1 class="page-title">Mon compte</h1>

    <div class="profil row">
        <div class="col-sm-6">
            <div class="identity-box">
                <p><span class="title">Username</span> <span class="content">{{ entity.username }}</span></p>
                <p><span class="title">Email</span> <span class="content">{{ entity.email }}</span></p>
            </div>
            <div class="adress-box">
                {% for adresse in entity.adresses %}
                    <div class="address-detail">
                        <p>
                            <a href="{{ path('address_edit', {id: adresse.id}) }}"><span class="title">Adresse n° {{ loop.index }} :</span></a>
                            <span class="address-action"><a href="{{ path('address_delete', {id:adresse.id}) }}" class="btn btn-dangers">Supprimer</a></span>
                        </p>
                        <p>
                            <span class="content">{{ adresse.street }}</span>
                            <span class="content">{{ adresse.city }}</span>
                            <span class="content">{{ adresse.country }}</span>
                        </p>
                    </div>
                {% endfor %}
            </div>


            {#
            {% include 'OCUserBundle:Cv:number_cv.html.twig' with {'id': app.user.id} %}
            #}
            <hr>
            <div class="cv-box">
                <div class="cv-box-number">
                    {{ render(controller('OCUserBundle:Cv:nbCvByUser', {id: app.user.id})) }}
                </div>
                <div class="cv-box-content">
                    {{ render(controller('OCUserBundle:Cv:index', {id: app.user.id})) }}
                </div>
            </div>

            <hr>
            <div class="record_actions">
                <a href="{{ path('oc_user_cv_add') }}" class="btn btn-default">Ajouter un cv</a>
                <a href="{{ path('address_new') }}" class="btn btn-default">Mettre une adresse</a>
                <a href="{{ path('oc_user_user_edit', { 'id': entity.id }) }}" class="btn btn-default">Edit</a>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            {% if app.user.image %}
                <img src="{{ asset(entity.image.webPath) }}" alt="{{ app.user.username }} - avatar" title="{{ app.user.username }}" >
            {% else %}
                <img src="{{ asset('img/avatar/avatar.jpg') }}" alt="default - avatar" title="{{ app.user.username }}" >
            {% endif %}
        </div>
    </div>

    <div class="offres row">
        <h1 class="page-title">Mes offres d'emplois</h1>
    </div>
    
{% endblock %}
