{% extends 'OCUserBundle::layout.html.twig' %}

{% block content -%}


    <div class="container">
        {{ render(controller('OCUserBundle:Cv:index', {id: app.user.id})) }}
    </div>
{% endblock content -%}