{#ydd8yk#}


  <!-- Second navbar for sign in -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('oc_platform_homepage') }}">JOB +</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-2">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ path('oc_platform_advert_index') }}">Offres d'emplois</a></li>
          <li><a href="{{ path('oc_platform_actualites_index') }}">Evenements</a></li>
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <li><a href="{{ path('oc_user_cv_add') }}">CV</a></li>
          {% endif %}
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
              <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            </li>
            <li>
              <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-bell" aria-hidden="true"></i>(0)</a>
            </li>
          {% else %}
            <li>
              <a href="{{ path('fos_user_security_login') }}">Connexion</a>
            </li>
          {% endif %}
          {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <li>
            <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
          </li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
